backend/src/main/resources/schema/country.rng

<element name="Countries" xmlns="http://relaxng.org/ns/structure/1.0">
    <zeroOrMore>
        <element name="Country">
            <element name="Code">
                <text/>
            </element>
            <element name="UrlCode">
                <text/>
            </element>
            <element name="Name">
                <text/>
            </element>
        </element>
    </zeroOrMore>
</element>
